<h1>Bem vindo à página Rosso!</h1>

<h2>Organize as suas despesas e entradas de maneira rápida e organizada</h2>

<h3>
	<ul>
	  <li><%= link_to "Popos", popos_path %></li>
	  <li><%= link_to "Tipos", kinds_path %></li>
	  <li><%= link_to "Categorias", categories_path %></li>
	  <li><%= link_to "Lançamento Entradas / Despesas", cash_flows_path %></li>
	</ul>

</h3>